<%- include('header') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <title>ChartJS</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
           <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        </header>
            <!-- ================= NAVBAR ================= -->
                            <%- include('navbar') %>
            <!-- ================= NAVBAR ================= -->

        <!-- ================= CONTENEUR POUR AFFICHAGE LISTE DES PATIENTS =================-->
        <div class="height-100 bg-light">
            <canvas id="myChart">

            </canvas>
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [
                            '<%=moment().add(0,"months").format("MMMM")%><%for(let i = 1;i<12;i++){%>',
                            '<%=moment().add(i,"months").format("MMMM")%><%}%>',
                        ],
                        datasets: [{
                            label: 'Nombre de Boîte de Doliprane',
                            data: [
                            '<%for(let i = 0;i<12;i++){%>',
                            '<%=nb[i]%><%}%>',
                            ],
                            backgroundColor: [
                            'rgb(255, 0, 0)',
                            ],
                            borderColor: [
                            'rgb(255, 0, 0)',
                            ],
                            borderWidth: 1,
                        },
                        ],
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        plugins:{
                            title: {
                                font:{
                                    size: 30
                                },
                                
                                display: true,
                                text: "Graphique des besoins de la Pharmacie",
                            },
                            tooltips:{
                                enabled: false
                            },
                            legend:{
                                display: false
                            },
                        }
                    }
                });
            </script>

<%- include('footer') %>