<%- include('header') %>

      <link rel="stylesheet" type="text/css" href="/formulaire.css" media="all"/>
      <title>Formulaire modification : patient</title>
   </head>
   <body id="body-pd">
      <header class="header" id="header">
         <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
      </header>


         <!-- ================= NAVBAR ================= -->
                        <%- include('navbar') %>
         <!-- ================= NAVBAR ================= -->

         <!-- ================= CONTENEUR POUR AFFICHAGE LISTE DES PATIENTS =================-->
         <div class="height-100 bg-light">
         <div class="form-style-5">
            <form action="/PharmaScieSauteuse/Modif-Patient/Confirmation/<%=patient.noSS%> " method="post">
               <fieldset id="dynamic">
                  <legend class="heading">Formulaire de Modification : Patient</legend>
                  <legend><span class="number">1</span> Patient :</legend>
                  <input type="text" class="field2" name="newNom" value="<%=patient.Nom_Patient%> " placeholder="Nom" required>
                  <input type="text" class="field2" name="newPrenom" value="<%=patient.Prenom_Patient%> " placeholder="Prénom" required>
                  <input type="text" class="field2" name="newNoSS" value="<%=patient.noSS%>" placeholder="Numéro de carte vitale" minlength="15" maxlength="15" required>
                  <input type="date" class="field2" name="newDate_Naissance" value="<%=moment(patient.Date_Naissance).format("YYYY-MM-DD")%>" required>
            
               <input type="submit" value="Envoyer" onclick="return confirm('Etes-vous sûr de vouloir Modifier ce poste ?');">
            </form>

<%- include('footer') %>
