<!-----------------------------------------------------------
AUTEUR : DAVID Louis
Version : 1.2
Dernière modification : 23/10/2021
Utilité : Affichage de la liste des patients
----------------------------------------------------------->

<%- include('header') %>

      <title>Pharmacie Sautheuz | Gestion des patients</title>
   </head>
   <!-- ================= NAVBAR ================= -->
   <body id="body-pd">
      <header class="header" id="header">
         <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
         <!-- barre de recherche -->
          <!-- insertion d'une balise formulaire-->
            <div class="wrap">
                <div class="search">
                <input type="text" class="searchTerm" placeholder="Numéro de sécurité social">
                <button type="submit" class="searchButton">
                    <i class="bx bx-search"></i>
                </button>
                </div>
            </div>
            <!-- fin du formulaire-->
          <!-- Fin barre de recherche -->
      </header>
      <div class="l-navbar" id="nav-bar">
         <nav class="nav">
            <div>
               <a href="/PharmaScieSauteuse" class="nav_logo"> 
               <i class='bx bx-heart nav_logo-icon'></i> 
               <span class="nav_logo-name">Pharmacie Sautheuz</span> 
               </a>
               <div class="nav_list"> 
                  <a href="#" class="nav_link active"> 
                  <i class='bx bx-grid-alt nav_icon'></i> 
                  <span class="nav_name">Gestion des patients</span> 
                  </a> 
                  <a href="#" class="nav_link"> 
                    <i class='bx bx-user nav_icon'></i> 
                    <span class="nav_name">Ajouter un nouveau patient</span> 
                  </a> 
                   <a href="/PharmaScieSauteuse/Gestion-de-Stock" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> 
                  <span class="nav_name">Gestion des stocks</span> 
                </a>
               </div>
            </div>
         </nav>
      </div>
      <!-- ================= FIN NAVBAR ================= -->
      <!-- ================= CONTENEUR POUR AFFICHAGE LISTE DES PATIENTS =================-->
      <div class="height-100 bg-light">
        <div class="table100 ver1">
            <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="column1">Nom et prénom</th>
                        <th class="column2">Numéro de sécurité social</th>
                        <th class="column3">Date de naissance</th>
                        <th class="column4">En voir plus</th>
                        <th class="column5"></th>
                    </tr>
                </thead>
            </table>
            </div>
            <div class="table100-body">
            <table>
            <tbody>

                <% patients.forEach(function(patient){ %>
                <tr class="body row100">
                    <td class="column1"><%=patient.Nom_Patient%></td>
                    <td class="column2"><%=patient.noSS%></td>
                    <td class="column3"><%=moment(patient.Date_naissance).calendar()%></td>
                    <td class="column4"><button>fiche patient</button></td>
                    <td class="column5"><button>Ajouter ordonnance</button></td>
                </tr>
                
                <% })%>
                
            </tbody>
            </table>

<%- include('footer') %>