<!-----------------------------------------------------------
AUTEUR : DAVID Louis
Version : 1.2
Dernière modification : 23/10/2021
Utilité : Affichage de la liste des stocks
----------------------------------------------------------->

<%- include('header') %>

      <title>Pharmacie Sautheuz | Gestion des Stocks</title>
   </head>
   <body id="body-pd">
      <header class="header" id="header">
         <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
         <!-- barre de recherche -->
            <div class="wrap">
                <div class="search">
                <input type="text" class="searchTerm" placeholder="Référence médicament">
                <button type="submit" class="searchButton">
                    <i class="bx bx-search"></i>
                </button>
                </div>
            </div>
          <!-- Fin barre de recherche -->
      </header>
      
            <!-- ================= NAVBAR ================= -->
                        <%- include('navbar') %>
            <!-- ================= NAVBAR ================= -->

      <!-- ================= CONTENEUR POUR AFFICHAGE LISTE DES Médicaments =================-->
      <div class="height-100 bg-light">
        <div class="table100 ver1">
            <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="column1">Référence</th>
                        <th class="column2">Nom commercial</th>
                        <th class="column3">Quantité en stock</th>
                        <th class="column4">Quantité nécéssaire</th>
                        <th class="column5">En voir plus</th>
                        <th class="column6"></th>
                    </tr>
                </thead>
            </table>
            </div>
            <div class="table100-body">
            <table>
            <tbody>
                
                <% medicaments.forEach(function(medicament){ %> 
                    <tr class='body row10<%=c%>'>
                        <td class="column1"><%=medicament.idMedic%></td>
                        <td class="column2"><%=medicament.Nom_Medic%></td>
                        <td class="column3"><%=medicament.Qte_En_Stock%> boîtes</td>
                        <td class="column4"><%=medicament.Qte_Necessaire%> boîtes</td>
                        <td class="column5"><a class="btn btn-outline-secondary" href="/pharmaScieSauteuse/Gestion-de-Stock/Graphe/<%=medicament.idMedic%>">Graphique</a></td>
                        <td class="column6"><a class="btn btn-outline-secondary" href="/pharmaScieSauteuse/Gestion-de-Stock/Update">Modifier</a></td>
                    </tr>

                    <% if(c == 1) c = 0; else c = 1 %>

                <% })%>

            </tbody>
            </table>
        </div>
        
<%- include('footer') %>
